.welcome {
    height: 100vh;
    background-color: aquamarine;
}

.project-tile{
    display: grid;
    grid-gap: 20x 20x;
    grid-template-columns: auto auto;
    background-color: palegreen;
}
.project-