.welcome {
    height: 100vh;
    background-color: aquamarine;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}




.project-tile{
    display: grid;
    grid-gap: 20x 20x;
    grid-template-columns: auto auto;
    background-color: palegreen;
}
.project-container{
    background-color: peru;
    align-items: center;

}

.nav {
    font-size: 16px;
    font-family:Impact, Haettenschweiler, 'Times New Roman', Times;
}
 
.nav ul {
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(96, 180, 17);
}
 
.nav li {
    float:right
}
 
.nav li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 
.nav li a:hover {
    background-color: turquoise;
}